header {
    text-align: center;
    background-color: cadetblue;
    height: 75px;
}

main{
    background-color: lightcyan;
}

.tableHead{
    border: 2px solid black;
    background-color: cadetblue;
}

#tableBody{
    
}

#btn-calc{
    float: right;
}

.wages{
    background-color: cadetblue;
}